* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
  font-family: Luckiest Guy;
  background-color: #d13896;
  
}

header{
  margin: 40px;
  text-align: center;
  font-family: Luckiest Guy;
  font-size: 1.4rem;
  color: white;
  
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.instructions{
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  
}

.instructions strong {
  color: white ;
}
ul > li{
  padding: 5px;
  font-size: 1.1rem;
  color: #6a1c6b;
  
  
}



#board {
  border: 5px solid black;
  align-self: center;
  display:none;
  max-width: 100%;
  max-height: 100%;
  background: lightblue;
}

#button_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
margin: 15px;

}

button{
  padding: 10px 25px;
  border-radius: 5px;
  font-family: Luckiest Guy;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 2px;
  background-color: #6a1c6b;
  border: none;
  color: white;
}

button:hover{
  background-color: #470b54 ;
  color: white;
}

#restart{
  display: none;
}

@media (width>768px){
  header{
    font-size: 2.5rem;
  }
    ul>li {
      font-size: 1.25rem;
    }
    button{
      font-size:1.5rem;
    }
}